{% extends 'movie/movies.html' %}
{% load static %}

{% block cinemas %}

    <div class="section">

        <div class="container">
            <div class="row">

                {% for cinema in cinemas_list %}
                    <div class="col-lg-3">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225px"
                                 xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                 focusable="false"
                                 role="img" aria-label="Placeholder: Thumbnail">
                                <rect width="100%" height="100%" fill="#55595c"/>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em"> {{ cinema.customer_name }} </text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">{{ cinema.description|truncatechars_html:150 }} </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                                href="{% url 'news' %}"> Новости
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </div>




{% endblock cinemas %}


